extends layout

block content
  h1= title
  p Welcome to #{title}
  p Bucket : #{buckets[2].Name}
  p Object : #{objects[2].Key}
  audio(controls='', src='/stream/rockconnections-test-bucket/Test_Streaming_Song.mp3')